@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#4ba9e9, #4ba9e9 50%, #fff 50%, #fff 100%);
}

.card{
    position: relative;
    width: 600px;
    height: 380px;
    background: #000;
}

.card .imgBx{
    position: relative;
    min-height: 380px;
    height: 100%;
    background: #FFF;
}